                html,
                body {
                    width: 100%;
                    height: 100%;
                    min-width: 300px;
                    background-color: rgb(235, 232, 232);
                }
                .pic{
                   

                border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #AAA;
        position: flex;
    }

                p {
                    font-size: 10px;
                    color: rgb(58, 56, 56);
                }

                h5,
                h6 {
                    font-size: 16px;
                    font-weight: bold;
                    color: rgb(58, 56, 56);
                }

                #player {
                    border-radius: 5px;
                }

                .media img {
                    width: 168px;
                    height: 94px;
                }
                /* select */

                #videoList li:hover {
                    border-right: 10px solid rgb(44, 44, 44);
                    cursor: pointer;
                }

                #videoList li {
                    border-right: 3px solid rgb(141, 141, 141);
                    cursor: pointer;
                    margin-right: 0%;
                }

                #videoList :hover {
                    cursor: pointer;
                    background-color: rgb(255, 255, 255);
                    margin-right: 0%;
                }

                .sitelogo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .5rem;
                    background-color: #e2d0d0;
                    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                    height:8vh;
                }

                .metube-logo {
                    height: 40px;
                    margin-left: 10px;
                    border-radius: 5px;
                }

                .btn-danger {
                    color: #fff;
                    background-color: #b0bbbf99;
                    border-color: #495057;
                }

                .btn-danger:hover {
                    color: #fff;
                    background-color: #00000099;
                    border-color: #495057;
                }


                .menu-icons {
                   display: flex;
                   padding: 5px 10px;
                   height: 9vh;
                   align-content: center;
                   justify-content: center;
                   align-items: center;
                }
                #givenName{
                    font-size: 18px;
                     height: 38px;
                     width: 85px;
                     font-weight: bolder;
                     margin-top: 23px;
                }

                .row {
                    margin-top: 6rem;
                    display: flex;
                }
                
                 .user{
                     height:8vh;
                 }
                  .dropdown{
                     display: none;
                     position: absolute;
                    right: 10px;
                     top: 10px;
                 list-style: none;
                     max-width: 229px;
                 z-index: 2;
                         background-color: rgba(203, 203, 203, 1);
                         text-align: center;
                     height: 166px;
                     box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
                          }

            .dropdown a{
            color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    width: 40%;
    border: solid;
    border-width: thin;
    margin-left: 69px;
    font-size: 79%;
    font-weight: bold;
        }
            .dropdown a:hover{
            background-color:#000;
            color:#fff;
        }
            .menu-icons:hover .dropdown{
            display:block;
        }


        .pic1{
            height: 10vh;
            border-radius: 77%;
              position: relative;
            top: 4px;
        }
        #email{
             font-size: 85%;
             padding: 20px 10px 10px 10px;
             font-weight: bold;
              cursor: pointer;
        }
            .menu{
                display: flex;
                flex-direction: row;
                align-content: center;
                 align-items: center;
            }

                @media(max-width:1080px) {
                    .metube-logo {
                        height: 30px;
                        transition: all ease 0.35s;
                        margin-top: 4.4px;
                    }
                    .menu-icons {
                       display: flex;
                       padding: 5px 10px;
                       height: 9vh;
                       align-content: center;
                       justify-content: center;
                       align-items: center;
                    }


                    .form-control {
                        transition: all ease 0.35s;
                        height: 2rem;
                        margin-top: 4.4px;
                    }
                    .btn-danger {
                        height: 2rem;
                        width: 40px;
                        margin-top: 4.4px;
                        transition: all ease 0.35s;
                    }
                    .categories {
                        margin-top: 70px;
                        margin-bottom: 10px;
                        margin-left: 20px;
                    }
                    .category-section {
                        display: flex;
                        overflow: hidden;
                        font-size: 12px;
                        position: flex;
                    }
                          .pic{
                border-radius: 50%;
        width: 35px;
        height: 35px;
        background-color: #AAA;
        position: flex;
    }
                }

                @media(max-width:900px) {
                    .metube-logo {
                        height: 25px;
                        transition: all ease 0.2s;
                        margin-top: 3.7px;
                        border-radius: 5px;
                    }
                    .menu-icons {
                        display: flex;
                        padding: 5px 10px;
                        height: 9vh;
                        align-content: center;
                         justify-content: center;
                        align-items: center; }

                    .form-control {
                        transition: all ease 0.35s;
                        height: 1.75rem;
                        margin-top: 3.7px;
                    }
                    .btn-danger {
                        height: 1.75rem;
                        width: 35px;
                        margin-top: 4px;
                        transition: all ease 0.35s;
                    }
                    .search-icon {
                        height: .95rem;
                        margin-bottom: 10rem;
                    }
                    .categories {
                        margin-top: 70px;
                        margin-bottom: 10px;
                        margin-left: 20px;
                    }
                    .category-section {
                        display: flex;
                        overflow: hidden;
                        font-size: 10px;
                        position: flex;
                    }
                   .pic{
                border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #AAA;
        position: flex;
    }
                }



