                html,
                body {
                    width: 100%;
                    height: 100%;
                    min-width: 300px;
                    background-color: rgb(235, 232, 232);
                }
                
                p {
                    font-size: 10px;
                    color: rgb(58, 56, 56);
                }
                
                h6 {
                    font-size: 16px;
                    font-weight: bold;
                    color: rgb(58, 56, 56);
                }
                
                #player {
                    border-radius: 5px;
                }
                
                .media img {
                    width: 168px;
                    height: 94px;
                }
                /* select */
                
                #videoList li:hover {
                    border-right: 10px solid rgb(44, 44, 44);
                    cursor: pointer;
                }
                
                #videoList li {
                    border-right: 3px solid rgb(141, 141, 141);
                    cursor: pointer;
                    margin-right: 0%;
                }
                
                #videoList :hover {
                    cursor: pointer;
                    background-color: rgb(255, 255, 255);
                    margin-right: 0%;
                }
                
                .sitelogo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px;
                    background-color: #e2d0d0;
                    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                }
                
                .metube-logo {
                    height: 40px;
                    margin-left: 10px;
                    border-radius: 5px;
                }
                
                .btn-danger {
                    color: #fff;
                    background-color: #b0bbbf99;
                    border-color: #495057;
                }
                
                .btn-danger:hover {
                    color: #fff;
                    background-color: #00000099;
                    border-color: #495057;
                }
           
                
                .menu-icons {
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    align-items: center;
                    gap: 1rem;
                    margin-right: .5rem;
                }
			
                
                .menu-channel-icon {
                    border-radius: 50%;
                    width: 36px;
                    height: 36px;
                    background-color: #AAA;
                    position: flex;
                }
                
                .row {
                    margin-top: 1rem;
                    display: flex;
                }
                
                @media(max-width:1080px) {
                    .metube-logo {
                        height: 30px;
                        transition: all ease 0.35s;
                        margin-top: 4.4px;
                    }
                      .menu-icons {
                        display: grid;
                        grid-template-columns: repeat(4, auto);
                        align-items: center;
                        gap: .6rem;
                        margin-right: .5rem;
			 position:relative;
                    }
			.dropdown{
			display:none;
			position:absolute;
			right:153px;
			top:68px;
			list-style:none;
			min-width:100px;
			z-index:1;
		}
			.dropdown a{
			color:black;
			padding:5px 5px;
			text-decoration:none;
			display:block;
		}
			.dropdown a:hover{
			background-color:#000;
			color:#fff;
		}
			.menu-icon:hover .dropdown{
			display:block;
		}
			.menu-icon:hover .pic{
			background-color:transparent;
		}

                   
                    .form-control {
                        transition: all ease 0.35s;
                        height: 2rem;
                        margin-top: 4.4px;
                    }
                    .btn-danger {
                        height: 2rem;
                        width: 40px;
                        margin-top: 4.4px;
                        transition: all ease 0.35s;
                    }
                 
                }
                
                @media(max-width:900px) {
                    .metube-logo {
                        height: 25px;
                        transition: all ease 0.2s;
                        margin-top: 3.7px;
                        border-radius: 5px;
                    }
                    .menu-icons {
                        display: grid;
                        grid-template-columns: repeat(4, auto);
                        align-items: center;
                        gap: .6rem;
                        margin-right: .5rem;
			 position:relative;
                    }
			.dropdown{
			display:none;
			position:absolute;
			right:153px;
			top:68px;
			list-style:none;
			min-width:100px;
			z-index:1;
		}
			.dropdown a{
			color:black;
			padding:5px 5px;
			text-decoration:none;
			display:block;
		}
			.dropdown a:hover{
			background-color:#000;
			color:#fff;
		}
			.menu-icon:hover .dropdown{
			display:block;
		}
			.menu-icon:hover .pic{
			background-color:transparent;
		}
                    
                    .form-control {
                        transition: all ease 0.35s;
                        height: 1.75rem;
                        margin-top: 3.7px;
                    }
                    .btn-danger {
                        height: 1.75rem;
                        width: 35px;
                        margin-top: 4px;
                        transition: all ease 0.35s;
                    }
                    .search-icon {
                        height: .95rem;
                        margin-bottom: 10rem;
                    }
                    
                }



