.log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    position: absolute;
    border: solid;
    top: 170px;
    left: 550px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;   border-radius: 20%;
    background-color: rgba(231, 230, 230);
}
.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    top: 229px;
    width: 200px;
    height: 230px;
    border: solid;
    left: 644px;
}

.name{
     position: absolute;
     width: 120px;
     height: 56px;
    font-size: 30px;
    top: 28px;
    left: 53px;

}

.logo{
    position: absolute;
    left: 11px;
    top: 28px;
    height: 48px;
    width: 43px;
    /* border: 2px solid; */
    background-color: rgba(231, 230, 230);
    /* border-radius: 50%; */
    overflow: hidden;
}
.log1{
    position: absolute;
       height: 109px;
    width: 173px;
    top: 60px;
    left: 58px;
    /* border: 2px solid; */
    background-color: rgba(231, 230, 230);
    border-radius: 20%;
    overflow: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS',sans-serif;
    outline: none;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    width: 154px;
    top: 160px;
    height: 35px;
    left: 72px;
    font-size: 17px;
    border-radius: 16%;
    font-weight: bold;
    color: rgba(231, 230, 230);
    background-color: black;
